* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}
:root {
    --color-primary: #080098;
    --color-succcess: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: #rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: #rgba(255, 255, 255, 0.7);
    --color-black: #000000;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;
    --color-joya:purple;
    --container-width-lg: 90%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Times, serif, Cochin, Georgia, Times, 'Times New Roman', serif, Helvetica, sans-serif;
    line-height: 1.7;
    color: var(--color-black);
    background: linear-gradient(120deg, #080098, #8e44ad);
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

section {
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    margin-left: -20rem;
    font-size: 3rem;
    color: white;
}

a {
    color: var(--color-white)
}

img {
    
    display: flex;
    height : 5rem;
    width: 7rem;
    margin-left: -4rem;
    padding-right: 2rem;
}

.button {
    display: inline-flex;
    background: rgb(114, 38, 36);
    color: var(--color-white);
    padding: 0.1rem 0.2rem;
    border: 1px solid transparent;
    font-weight: 500;
}

.button:hover {
    background: rgb(44, 44, 174);
    color: var(--color-white);
    border-color: var(--color-white);
}

.button-primary {
    background: rgb(187, 40, 37);
    color: var(--color-white);
}

/*Navigation bar */
nav {
    background: rgb(29, 29, 133);
    width: 100 vw;
    height: 6rem;
    position: relative;
    top: 0rem;
    z-index: 11;

}

.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: last baseline;
}

nav button {
    display: none;
}

.nav__menu {
    display: flex;
    align-items: normal;
    gap: 1.8rem;
}

.nav__heading h5 {
    font-size: 23.5px;
}

.nav__menu a {
    display:flex;
    font-size: 0.9rem;
    transition: var(--transition);
}

.nav__menu a:hover {
    color: var(--color-bg2)
}
/* navigation bar end */
form {
    color: rgb(255, 255, 255);
    
}
form h3
{
    color: rgb(255, 255, 255);
    padding: 5rem 0px 0px 10rem;
    font-size: 6rem;
}
fieldset {
    margin: 0 auto;

}

legend {
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 2rem;
    margin-left: 2rem;
}

input[type=radio] {
    border: 3px solid black;
}



.center {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28.125rem;
    background:linear-gradient(150deg, #2086b9, #8e44ad)  ;
    border-radius: 0.8rem;
    max-height: 50rem;
}

.center h3 {
    text-align: center;
    padding: 0.5rem 0 0.5rem 0;
    border-bottom: 1px solid silver;
    font-size: 3rem;
    color: white;
    margin-top:1rem;
}

.center form {
    display:grid;
    justify-content: center;
    align-items: center;
    place-content: center;
    padding: 1rem 1rem;
    box-sizing: border-box;
    height: 26rem;

}

.docname{
    font-size: 1.75rem;
    position: relative;
  display: inline-block;
}
#doc{
    border-radius: 0.625rem;
    background-color: lightblue;
padding: 0.25rem 4rem 0.25rem 0.875rem;
}

#Communication ,#car{
    border-radius: 5px;
    background-color: lightblue;
    
}
#text{
    margin:0;
    padding: 0;
    width:22rem;
    height: 4rem;
}
/* .submit{
    display: flex;
    width: 10rem;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
} */

/* #doc{
    display: none;
    position: absolute;
    min-width: 50px;
    padding: 12px 16px;
}
.docname:hover #doc{
    display: block;
} */
.Communication, .Emapthy, .Professionalism, .Competence ,.Availability, .Treatment-Effectiveness{
    font-size: 20px;
}
form.txt_field {
    position: relative;
    border-bottom: 2px solid #ffffff;
    margin: 1.875rem 0;
}

.txt_field input {
    width: 100%;
    padding: 0 0.3125rem ;
    height: 2.5rem;
    font-size: 1rem;
    border: none;
    background: rgb(255, 255, 255);
    outline: 0.001rem solid;
    border-radius: 2rem;
}

.txt_field label {
    /* position:relative; */
    top: 50%;
    left: 3.125rem;
    color: #ffffff;
    padding-left: 9.375rem;
    transform: translateY(-50%);
    font-size: 1rem;
    pointer-events: none;
}

.txt_field span::before {
    content: '';
    position: absolute;
    top: 2.5rem;
    left: 0;
    width: 100%;
    height: 0.125rem;
    background: transparent;
}

.txt_field input:focus~label,
.txt_field input:valid~label {
    top: 5px;
    color: #ffffff;
}

textarea{
    resize: none;
}
input[type="submit"] {
    color: yellow;
    width: 100%;
    height: 2.5rem;
    border: 1px solid;
    margin-top: 1.25rem;
    margin-bottom: 1.875rem;
    background: linear-gradient(150deg, #2086b9, #8e44ad);
    border-radius: 1.5625rem;
    font-size: 1.125rem;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    
}

input[type="submit"]:hover {
    border-color: #ffffff;
    transition: 0.5s;
    color: white;
}

/* Popup */
.popup {
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    box-shadow: 0px 0px 8px rgb(29, 29, 133);
}

.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup button {
    width: 40%;
    background: #080098;
    color: white;
    border: 0;
    outline: none;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    float: right;
}

.popup button:hover {
    transform: scale(1.02);
}

.popup h2 {
    color: #080098;
}

.popup p {
    color: #1f2641;
    padding-left: 25px;
    font-size: larger;
}

.submit {
    /* border:2px solid red; */
    padding: 12px 10px;
    color: white;
}

.submit button:hover {
    /* background-color:#f7c94b; */
    /* color:#080098; */
    transform: scale(1.02);
}

.submit button {
    width: 200px;
    padding: 10px 5px;
    border-radius: 20px;
    margin-left: 35px;
    font-size: 18px;
    background-color: #080098;
    border-color: #1f2641;
    color: white;
    cursor: pointer;
}